body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: -20px;
}

.app {
    padding: 15px;
    margin-left: 4px;
    width: 94%;
    height: 95%;
}

/* container */
#product-table-container {
    max-width: 1100px;
    margin: auto;
}

/* wrapper */
.product-table-wrapper {
    max-width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* header */
thead {
    background: #2563eb;
    color: white;
}

thead th {
    padding: 9px;
    font-size: 14px;
    text-align: left;
}

/* row */
tbody td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

/* hover row */
tbody tr:hover {
    background: #f1f5ff;
}

/* input */
input[type="text"],
input[type="number"] {
    height: 24px;
    width: 97%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

/* quantity box */
.quantity-box {
    display: flex;
    align-items: center;
    gap: 6px;
}

.quantity-box button {
    width: 32px;
    height: 32px;
    border: none;
    background: #e5e7eb;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-box button:hover {
    background: #d1d5db;
}

/* line total */
.line-total {
    width: 59px;
    font-weight: bold;
    color: #16a34a;
}

/* footer */
.table-footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    background: #fafafa;
    border-top: 1px solid #eee;
}

.grand-total {
    font-size: 18px;
    font-weight: bold;
    color: #111;
}

.grand-total span:last-child {
    color: #dc2626;
    margin-left: 10px;
}

/* disable state */
input:disabled {
    background: #f3f4f6;
    cursor: not-allowed;
}

/* nút thêm mới */
.add-row-btn {
    margin-top: 12px;
    padding: 10px 14px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 10px;
}

.add-row-btn:hover {
    background: #1d4ed8;
}

.delete-row {
    background: #df4f4f;
    color: rgb(250, 243, 243);
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

.delete-row:hover {
    background: #dc2626;
}

@media print {
    .add-row-btn {
        display: none;
    }
}

/* =========================
   SUMMARY
========================= */

.summary-box {
    width: 370px;
    height: 120px;
    margin-top: 20px;
    padding: 12px;
    background: #fff;
    border: 0.5px solid #ddd;
    border-radius: 10px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 14px;
}

.summary-row:last-child {
    margin-bottom: 0;
}

.summary-row span:first-child {
    font-weight: 600;
    color: #555;
}

.summary-row span:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #e53935;
}

/* Ô nhập tiền */

#customerPaid {
    width: 170px;

    padding: 8px 10px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
    text-align: right;

    transition: .2s;
}

#customerPaid::placeholder {
    color: #b5b5b5;
    opacity: 1;
    /* Đảm bảo hiển thị đúng trên mọi trình duyệt */
    font-style: italic;
}

#customerPaid:focus {
    outline: none;
    border-color: #1976d2;

    box-shadow: 0 0 0 3px rgba(25, 118, 210, .15);
}

/* Tiền trả lại */

#changeMoney {
    color: #2e7d32;
    font-size: 20px;
    font-weight: bold;
}

/* Địa chỉ */
textarea {
    width: 95%;
    height: 55px;
    padding: 10px 12px;
    resize: none;
    box-sizing: border-box;
    font-size: 15px;
    font-family: inherit;
    line-height: 1.5;

    color: #333;
    background: #fff;

    border: 1px solid #ccc;
    border-radius: 8px;

    resize: vertical;
    /* Chỉ cho kéo theo chiều dọc */

    transition: all 0.2s ease;
    box-sizing: border-box;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    outline: none;
    border-color: #1976d2;
    box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.15);
}

textarea::placeholder {
    color: #b5b5b5;
    font-style: italic;
}

/* Tổng tiền */

#grandTotal {
    color: #d32f2f;
    font-size: 22px;
    font-weight: bold;
}


@media print {

    /* Ẩn nút thêm dòng */
    .add-row-btn {
        display: none !important;
    }

    /* Ẩn nút + và - */
    .plus,
    .minus {
        display: none !important;
    }

    /* Ẩn nút xóa */
    .delete-row {
        display: none !important;
    }

    /* Ẩn cả cột Xóa */
    #productTable th:last-child,
    #productTable td:last-child {
        display: none !important;
    }

    /* Ô số lượng khi in */
    .quantity {
        border: none !important;
        background: transparent !important;
        width: 40px;
        text-align: center;
        appearance: textfield;
    }

    /* Ẩn mũi tên của input number */
    .quantity::-webkit-outer-spin-button,
    .quantity::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    @media print {

        #customerPaid::placeholder {
            color: transparent !important;
        }

    }


    @media print {

        /* Ẩn cột Xóa */
        #productTable th:last-child,
        #productTable td:last-child {
            display: none !important;
        }

        /* Bảng chiếm toàn bộ chiều rộng */
        #productTable {
            width: 100% !important;
            table-layout: fixed;
        }

        /* STT */
        #productTable th:nth-child(1),
        #productTable td:nth-child(1) {
            width: 28px !important;
        }

        /* Sản phẩm */
        #productTable th:nth-child(2),
        #productTable td:nth-child(2) {
            width: 50% !important;
        }

        /* Đơn giá */
        #productTable th:nth-child(3),
        #productTable td:nth-child(3) {
            width: 19% !important;
        }

        /* Số lượng */
        #productTable th:nth-child(4),
        #productTable td:nth-child(4) {
            width: 13% !important;
        }

        /* Thành tiền */
        #productTable th:nth-child(5),
        #productTable td:nth-child(5) {
            width: 18% !important;
        }
    }

    @media print {

        .summary-box {
            font-size: 12px;
        }

        .summary-row span {
            font-size: 12px !important;
        }

        #customerPaid {
            font-size: 12px !important;
        }

        #grandTotal,
        #changeMoney {
            font-size: 13px !important;
            font-weight: bold;
        }
    }

    #productTable thead th {
        background: linear-gradient(#f8d86b, #f1c232);
        color: #333;
        font-weight: bold;
        border: 1px solid #d4b24a;
    }

    #productTable {
        border-collapse: collapse;
        width: 100%;
    }

    @media print {

        #productTable thead th {
            font-size: 11.4px;
            font-weight: 600;
            background: #f4c542;
            color: #333;
            border: 1px solid #444;
            font-weight: bold;
            text-align: center;
            padding: 8px 6px;
        }

    }

    #clock {
        font-size: 14px;
        font-weight: 500;
        color: #333;
        padding: 6px 10px;
    }
}